.cell {
  width: 120px;
  height: 120px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: white;
}

@media (max-width: 600px) {
  .cell {
    width: 80px;
    height: 80px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.border-top {
  border-top: 1px solid white;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.border-right {
  border-right: 1px solid white;
}

.border-left {
  border-left: 1px solid white;
}

.placeholder {
  color: rgba(255, 255, 255, 0.64);
}
