.container {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.game-fadein {
  animation-name: game-fadein;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes game-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
