.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-size: 3.5em;
}

.error {
  font-size: 2em;
}

.subsection {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.upper-fadeout {
  opacity: 0;
  transform: translateY(-100%);
}

.lower-fadeout {
  opacity: 0;
  transform: translateY(100%);
}

.game-fadein {
  animation-name: game-fadein;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes game-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
